HELP.md
# Ignorar la carpeta target que contiene los archivos de construcción generados por Maven
target/
build/
!target/demo-0.0.1-SNAPSHOT.jar


# Directorios de compilación y archivos generados
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Java
*.class

# IDEs
*.iml
.idea/
*.log
.vscode/

# OS files
.DS_Store
Thumbs.db
